<div class="container">
  <h1 class="page-header">Your Reminders</h1>

  <ul class="list-group">
    <% userReminders.forEach(function (reminderItem) { %>
      <li class="list-group-item">
        <strong><%= reminderItem.title %>: </strong>
        <%= reminderItem.description %>
        || Completed:
        <% if (reminderItem.completed == true) { %>
          <span class="badge badge-success">True</span> <br>
        <% } else if (reminderItem.completed == false) { %>
          <span class="badge badge-danger">False</span> <br>
        <% } %>
        <strong>Subtasks:</strong>
        <% reminderItem.subtasks.forEach(function(subtask) { %>
          <span class="badge badge-secondary mr-1"><%= subtask %></span>
        <% }) %>
        <br>
        <strong>Tags:</strong>
        <% reminderItem.tags.forEach(function(tag) { %>
          <span class="badge badge-primary mr-1"><%= tag %></span>
        <% }) %>
        <br>
        <strong>Reminder Date:</strong> <%= reminderItem.reminderDate %> <br>
        <a class="pull-right" href=<%= "/reminder/" + reminderItem.id %>>View</a>
      </li>
    <% }) %>
  </ul>

  <% friendData.forEach(function (friend) { %>
    <h1 class="page-header"><%= friend.name %>'s Reminders</h1>

    <ul class="list-group">
      <% friend.reminders.forEach(function (reminderItem) { %>
        <li class="list-group-item">
          <strong><%= reminderItem.title %>: </strong>
          <%= reminderItem.description %>
          || Completed:
          <% if (reminderItem.completed == true) { %>
            <span class="badge badge-success">True</span> <br>
          <% } else if (reminderItem.completed == false) { %>
            <span class="badge badge-danger">False</span> <br>
          <% } %>
          <strong>Subtasks:</strong>
          <% reminderItem.subtasks.forEach(function(subtask) { %>
            <span class="badge badge-secondary mr-1"><%= subtask %></span>
          <% }) %>
          <br>
          <strong>Tags:</strong>
          <% reminderItem.tags.forEach(function(tag) { %>
            <span class="badge badge-primary mr-1"><%= tag %></span>
          <% }) %>
          <br>
          <strong>Reminder Date:</strong> <%= reminderItem.reminderDate %> <br>
        </li>
      <% }) %>
    </ul>
  <% }) %>
</div>
