<div class="container">
  <h1 class="page-header"><%= reminderItem.title %></h1>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><strong>Description:</strong></h5>
      <p class="card-text"><%= reminderItem.description %></p>
      <h5 class="card-title"><strong>Subtasks:</strong></h5>
      <p class="card-text">
        <% reminderItem.subtasks.forEach(function(subtask) { %>
          <span class="badge badge-secondary mr-1"><%= subtask %></span>
        <% }) %>
      </p>
      <h5 class="card-title"><strong>Tags:</strong></h5>
      <p class="card-text">
        <% reminderItem.tags.forEach(function(tag) { %>
          <span class="badge badge-primary mr-1"><%= tag %></span>
        <% }) %>
      </p>
      <h5 class="card-title"><strong>Reminder Date:</strong></h5>
      <p class="card-text"><%= reminderItem.reminderDate %></p>
      <h5 class="card-title"><strong>Completed:</strong></h5>
      <p class="card-text">
        <% if (reminderItem.completed == true) { %>
          <span class="badge badge-success">True</span>
        <% } else if (reminderItem.completed == false) { %>
          <span class="badge badge-danger">False</span>
        <% } %>
      </p>
    </div>
    <div class="card-footer">
      <a class="btn btn-warning" href=<%= "/reminder/" + reminderItem.id + "/edit" %>>Edit</a>
      <form class="deleteForm d-inline" method="POST" action=<%= "/reminder/delete/" + reminderItem.id %>>
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
    </div>
  </div>
</div>
